main {
    display: flex;
    flex-direction: column;
}
.slider {
    width: 100%;
    height: 660px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.we-are-modest {
    width: 100%;
    height: 610px;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #dde1e4;
}

.meet-the-team {
    width: 100%;
    height: 650px;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}

.section-tittle {
    height: 35px;
    margin-top: 80px;
    padding: 6px 0 3px 25px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    position: relative;
}

.section-tittle:before{
    content: '';
    display: block;
    width: 10px;
    height: 100%;
    background-color: #e1e6ea;
    position: absolute;
    left: 0;
}